@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.actual-date-cell {
    animation: pulse 2s infinite;
    box-shadow: 0 0 10px rgba(0, 150, 136, 0.5);
    background: linear-gradient(45deg, rgba(153, 120, 110, 0.4) 90%, rgb(168, 168, 168) 5%);
}